<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.wst.jsdt.js.node.NodeLaunchConfigurationType">
<stringAttribute key="attr_app_arguments" value=""/>
<stringAttribute key="attr_app_path" value="${workspace_loc:/ibot_new/app.js}"/>
<stringAttribute key="attr_app_project" value="ibot_new"/>
<stringAttribute key="attr_node_arguments" value=""/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/ibot_new"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
</listAttribute>
</launchConfiguration>
